html, body
{
  margin: 0;
  padding: 0;
}

.main-header{
  background-color:#00796B;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
.nav-link{
  color:#FFFFFF;
  margin-right:4px;
  }
.text-center{
  text-align: center;
  width: 100%;
}
.header-color{
  color: #FFFFFF;
}
.main-container{
  min-height: 100vh;
}

.background-image{
  background-image: url(../Images/retrobakcground.jpg);
  width: 100%;
  height: 100%;
}

.lobster{
  font-family: 'Lobster', cursive;
}

.courgette{
  font-family: 'Courgette', cursive;
}

.coda
{
  font-family: 'Coda Caption', sans-serif;
}

.big-text 
{
    font-size: 4em;
}

.medium-text
{
  font-size: 3em;
}

.paragraph-text
{
  font-size: medium;
}

.text-standard-color{
  color: #FFFFFF;
}

.text-white
{
  color: whitesmoke;
}

.table{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 8px;
  border-radius: 100%;
}

.fa-facebook 
{
  background: #3B5998;
  color: white;
}

.fa-twitter 
{
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
	background: #2c4762;
    color: white
}